<launch>

 <!--Machine Definition-->

	<machine name="small"              
	address="10.42.0.232"                       
	user="ubuntu"                             
	ssh-port = "22"                            
	env-loader="~/env.sh"                       
	timeout="20" />         

     <machine name="master"
     address="10.42.0.1"
     user="ubuntu"
     ssh-port = "22"
     env-loader="~/env.sh"
     timeout="20" />


<!--small_machine-->

 <node pkg="main_loop" type="path_planning_" name="path_planning_" output="log" respawn="true" ns="small" machine="small">
 </node>

 <node pkg="main_loop" type="main_demo_v2" name="main_demo_v2" output="screen" respawn="true" ns="small" machine="small">
 </node>
 <node pkg="main_loop" type="agent_new" name="agent_new" respawn="true" ns="small" machine="small" >
 <remap from="update_status" to="/master/update_status" />
 <remap from="pub_status" to="/master/pub_status" />
 </node>
 <node pkg="serial_port" type="serial_port_node" name="serial_port_node" output="log" respawn="true" ns="small" machine="small">
 </node>
 <node pkg="serial_port" type="serial_port_node_2" name="serial_port_node_2" output="log" respawn="true" ns="small" machine="small">
 </node>
 <node pkg="main_loop" type="goap_main_v1.py" name="goap_main_v1" respawn="true" ns="small" machine="small" >
 </node>
 <!--<node pkg="eurobot_gui" type="eurobot_gui.py" name="eurobot_gui" output="screen" respawn="true" ns="small" machine="small" >
 </node>-->
 
 
 <node name="rplidarNode"          pkg="rplidar_ros"  type="rplidarNode" output="log" ns="small" machine="small">
        <param name="serial_port"         type="string" value="/dev/ttyUSB0"/>
        <param name="serial_baudrate"     type="int"    value="115200"/><!--A1/A2 -->
        <!--param name="serial_baudrate"     type="int"    value="256000"--><!--A3 -->
        <param name="frame_id"            type="string" value="laser"/>
        <param name="inverted"            type="bool"   value="false"/>
        <param name="angle_compensate"    type="bool"   value="true"/>
    </node>

    <node pkg="lidar_2020" type="set_octagonal_range" name="set_octagonal_range" output="log" ns="small" machine="small">
        <param name="alert_range" type="double" value="0.3"/>
        <param name="forget_rate" type="double" value="0.9"/>
        <param name="num_point" type="double" value="40"/>        
        <param name="front_range" type="double" value="0.3"/>
        <param name="front_left_range" type="double" value="0.3"/>
        <param name="left_range" type="double" value="0.3"/>
        <param name="back_left_range" type="double" value="0.3"/>
        <param name="back_range" type="double" value="0.3"/>
        <param name="back_right_range" type="double" value="0.3"/>
        <param name="right_range" type="double" value="0.3"/>
        <param name="front_right_range" type="double" value="0.3"/>
    </node>
    <node pkg="lidar_2020" type="sub_lidarmsg" name="sub_lidarmsg" output="log" ns="small" machine="small">
    </node>
 
    
<!--master_machine-->

<node pkg="main_loop" type="path_planning_" name="path_planning_" output="log" respawn="true" ns="master" machine="master">
 </node>

 <node pkg="main_loop" type="main_demo_v2" name="main_demo_v2" output="screen" respawn="true" ns="master" machine="master">
 </node>
 <node pkg="main_loop" type="agent_new" name="agent_new" respawn="true" ns="master" machine="master" >
 </node>
 <node pkg="serial_port" type="serial_port_node" name="serial_port_node" output="log" respawn="true" ns="master" machine="master">
 </node>
 <node pkg="serial_port" type="serial_port_node_2" name="serial_port_node_2" output="log" respawn="true" ns="master" machine="master">
 </node>
 <node pkg="main_loop" type="goap_main_v1.py" name="goap_main_v1" respawn="true" ns="master" machine="master" >
 </node>
 <node pkg="eurobot_gui" type="eurobot_gui.py" name="eurobot_gui" output="screen" respawn="true" ns="master" machine="master" >
 </node>
 
 
 <node name="rplidarNode"          pkg="rplidar_ros"  type="rplidarNode" output="log" ns="master" machine="master">
        <param name="serial_port"         type="string" value="/dev/ttyUSB0"/>
        <param name="serial_baudrate"     type="int"    value="115200"/><!--A1/A2 -->
        <!--param name="serial_baudrate"     type="int"    value="256000"--><!--A3 -->
        <param name="frame_id"            type="string" value="laser"/>
        <param name="inverted"            type="bool"   value="false"/>
        <param name="angle_compensate"    type="bool"   value="true"/>
    </node>

    <node pkg="lidar_2020" type="set_octagonal_range" name="set_octagonal_range" output="log" ns="master" machine="master">
        <param name="alert_range" type="double" value="0.3"/>
        <param name="forget_rate" type="double" value="0.9"/>
        <param name="num_point" type="double" value="40"/>
        
        <param name="front_range" type="double" value="0.3"/>
        <param name="front_left_range" type="double" value="0.3"/>
        <param name="left_range" type="double" value="0.3"/>
        <param name="back_left_range" type="double" value="0.3"/>
        <param name="back_range" type="double" value="0.3"/>
        <param name="back_right_range" type="double" value="0.3"/>
        <param name="right_range" type="double" value="0.3"/>
        <param name="front_right_range" type="double" value="0.3"/>
    </node>

    <node pkg="lidar_2020" type="sub_lidarmsg" name="sub_lidarmsg" output="log" ns="master" machine="master">
    </node>

</launch>

