<launch>


	<node pkg="main_loop" type="path_planning_" name="path_planning_" output="screen" respawn="true">
	</node>

	<node pkg="main_loop" type="main_demo" name="main_demo" output="screen" respawn="true">
	</node>
	<node pkg="main_loop" type="agent_add_status" name="agent_add_status" >
	</node>
	<node pkg="main_loop" type="goap_main_v1.py" name="goap_main_v1" output="screen" respawn="true" >
	</node>
	<node pkg="eurobot_gui" type="eurobot_gui.py" name="eurobot_gui" output="screen" respawn="true" >
	</node>



</launch>
